<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>



<body>

    <h1>moja strona templatka</h1>

    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos nam ut id laborum vero sequi beatae minus sunt itaque,
    obcaecati tenetur dolor, excepturi quas veritatis aliquam? Eum, corporis totam! Aspernatur?

    <p>bla</p>
    <p>bla</p>
    <p>bla</p>



</body>

</html>