$base-font-size: 20px;
$small-font-size: 14px;

$font-family: 'Poppins', sans-serif;

$main-spacing: 20px;
$max-width: 1000px;

$primary-color: rgb(233, 185, 26);
$secondary-color: white;

$breakpoints: (
    xs: 500px,
    sm: 800px,
    md: 1000px,
    )